.products-table {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.products-table table {
    padding: 20px;
    font-size: 16px;
    color: black;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.products-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.products-container h2 {
   font-size: 20px;
   color: black;
}


.products-table td, th {
  border: 1px solid #ddd;
  padding: 20px;
}

